.card {
  &__container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
  }
  
  &__info {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    align-items: start;
    column-gap: 15rem;
  }
  
  &__img {
    grid-row: 1 / -1;
    width: 30rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 70rem;
  }

  &__item {
    font-size: 2rem;
    line-height: 1.5;

    span {
      font-weight: 700;
    }
  }
}