.favorites {
  &__container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__heading {
    margin-bottom: 2rem;
    font-size: 3.6rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 18rem);
    justify-content: space-between;
    row-gap: 2rem;
  }
}