@import '../../colors.scss';

.form {
  width: max-content;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 1rem;
  background-color: $text-color-primary-dark;
  
  &__heading {
    margin-bottom: 5rem;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    color: #1a1a1D;
  }

  &__label {
    position: relative;
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    color: #1a1a1D;
    
    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }

    &:last-of-type {
      margin-bottom: 6rem;
    }
  }

  &__input {
    width: 60rem;
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid #1a1a1D;
    font-size: 1.8rem;
    color: #1a1a1D;

    &:focus-visible {
      outline: none;
      background-color: rgba(78, 78, 80, .2);
    }

    &.error {
      border-bottom: 1px solid #c3073f;
    }
  }

  &__btn {
    display: block;
    width: max-content;
    margin: 0 auto 6rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    background-color: $color-turquoise-dark;
    font-size: 1.8rem;
    color: $text-color-primary-dark;
    cursor: pointer;
    transition: all .2s ease;

    &:hover,
    &:focus-visible {
      outline: none;
      transform: translateY(-2px);
      box-shadow: 0 2px 6px 2px rgba($color: $text-color-light, $alpha: .5);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__info {
    position: relative;
  }

  &__error {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-size: 1.8rem;
    color: #c3073f;
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #1a1a1D;
    text-align: center;
  }

  &__link {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 1.8rem;
    color: $color-turquoise-dark;
    text-decoration: underline;
    transition: all .2s ease;

    &:hover {
      color: #c3073f;
    }
  }
}