.form {
  &__input {
    margin-right: 2rem;
    border: none;
    border-bottom: 1px solid #950740;
    padding: 1rem .5rem;
    width: 50rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.8rem;
    transition: all .2s ease;
  
    &:focus-visible {
      outline: none;
      border-bottom: 1px solid #c3073f;
    }
  }
}