@import '../../colors.scss';

.filters {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  &__label {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1.8rem;
  }
  
  &__select {
    padding: 1rem .5rem;
    border: 1px solid $color-turquoise-dark;
    color: $text-color-primary-dark;
    font-size: 1.8rem;
    background-color: $color-turquoise-dark;
    cursor: pointer;
  
    &:focus-visible {
      border: 1px solid $color-turquoise-light;
      outline: none;
    }
  }
  
  &__option {
    font-size: 2rem;
    background-color: $color-turquoise-dark;
  }

  &--dark {
    &__select {
      background-color: transparent;
      color: $text-color-light;
    }
  }
}
