@import "../../colors";

.header {
  position: relative;
  box-shadow: 0 5px 5px 1px rgba($color-turquoise-dark, .2);
  background-color: $bg-color-light;

  &--dark {
    box-shadow: 0 5px 5px 1px rgba($color-turquoise-light, .2);
    color: $text-color-primary-dark;
    background-color: $bg-color-dark;

    & .nav__link {
      &:hover,
      &:focus-visible {
        color: $color-turquoise-light;
      }
  
      &:active {
        color: $color-turquoise-dark;
      }
    }
  }
 
  &__container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 7rem;
    margin-right: 3.5rem;
    transition: all .2s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.nav {
  &__list {
    display: flex;
    gap: 3rem;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: inline-block;
    font-size: 2rem;
    transition: all .2s ease;

    &:hover,
    &:focus-visible {
      color: $color-turquoise-dark;
    }

    &:active {
      color: $color-turquoise-light;
    }
  }
}