@import '../../colors.scss';

.error {
  background-color: $bg-color-light;
  
  &__container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0 40rem;
  }

  &__heading {
    margin-bottom: 15rem;
    font-size: 3.6rem;
    font-weight: 700;
  }

  &__link {
    font-size: 2.4rem;
    text-decoration: underline;
    transition: all .2s ease;

    &:hover {
      color: $color-turquoise-dark;
    }
  }
  
  &--dark {
    color: $text-color-primary-dark;
    background-color: $bg-color-dark;
  }
}