@import '../../../colors.scss';

.btn--primary {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid $color-turquoise-dark;
  background-color: $color-turquoise-dark;
  color: inherit;
  font-size: 1.8rem;
  color: $text-color-primary-dark;
  cursor: pointer;
  transition: all .2s ease;

  &-dark {
    border: 1px solid $color-turquoise-light;
    background-color: transparent;
  }

  &:hover {
    outline: none;
    border: 1px solid $color-turquoise-light;
    background-color: $color-turquoise-light;
  }

  &:active {
    border: 1px solid $text-color-secondary-light;
    background-color: $text-color-secondary-light;
  }
}