$bg-color-dark: #0b0c10;
$text-color-primary-dark: #fff;
$text-color-secondary-dark: #c5c6c2;

$bg-color-light: #d1e8e2;
$text-color-light: #0b0c10;
$text-color-secondary-light: #1f2833;

$color-turquoise-dark: #45a29e;
$color-turquoise-light: #66fcf1;